/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #hero-2344 {
    padding: var(--sectionPadding);
    /* 120px 0 160px */
    padding-top: clamp(7.5rem, 12vw, 10rem);
  }
  #hero-2344 .cs-container {
    width: 100%;
    max-width: 112.5rem;
    margin: auto;
    /* 420px - 560px */
    padding-top: clamp(26.25rem, 65vw, 35rem);
    position: relative;
    z-index: 1;
  }
  #hero-2344 .cs-container:before {
    /* gradient Overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.92) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 0.5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2344 .cs-content {
    /* 24px - 40px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 4vw, 2.5rem) clamp(1rem, 4vw, 2.5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  #hero-2344 .cs-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #hero-2344 .cs-flex2 {
    max-width: 33.75rem;
  }
  #hero-2344 .cs-title {
    /* 39px - 90px */
    font-size: clamp(2.4375rem, 6vw, 5.625rem);
    margin-bottom: 0;
    color: var(--bodyTextColorWhite);
  }
  #hero-2344 .cs-text {
    color: var(--bodyTextColorWhite);
    margin-bottom: 2rem;
  }
  #hero-2344 .cs-topper {
    color: var(--bodyTextColorWhite);
  }
  #hero-2344 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-2344 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2344 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2344 .cs-button-solid {
    align-self: flex-start;
  }
  #hero-2344 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  #hero-2344 .cs-background img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2344 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    /* 64px - 100px */
    gap: clamp(4rem, 10vw, 6.25rem);
  }
}
