/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #sbs-2276 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-2276 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2276 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-2276 .cs-title {
    max-width: 25ch;
  }
  #sbs-2276 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2276 .cs-signature {
    width: 10.625rem;
    height: auto;
    margin-bottom: 0.5rem;
    display: block;
  }
  #sbs-2276 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-2276 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #sbs-2276 .cs-button-solid {
    font-size: 1rem;
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    text-decoration: none;
    font-weight: 700;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-2276 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2276 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-2276 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2276 .cs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #sbs-2276 .cs-image-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }
  #sbs-2276 .cs-image-group a {
    display: none;
    flex: none;
  }
  #sbs-2276 .cs-picture {
    width: 100%;
    height: 90vw;
    max-height: 31.25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-2276 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2276 .cs-container {
    max-width: 80rem;
  }
  #sbs-2276 .cs-content {
    /* 32px - 64px */
    gap: clamp(2rem, 5vw, 4rem);
  }
  #sbs-2276 .cs-title {
    margin: 0;
  }
  #sbs-2276 .cs-wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  #sbs-2276 .cs-flex {
    /* 12px to 40px */
    padding: clamp(0.75rem, 3vw, 2.5rem) 0;
    align-self: center;
  }
  #sbs-2276 .cs-picture1 {
    height: 25rem;
    max-height: initial;
  }
  #sbs-2276 .cs-picture2 {
    width: 47vw;
    max-width: 22.625rem;
    height: auto;
    max-height: 100%;
    order: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2276 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #sbs-2276 .cs-desc {
    margin: 0;
  }
  #sbs-2276 .cs-flex .cs-button-solid {
    display: none;
  }
  #sbs-2276 .cs-image-group {
    width: 50%;
    max-width: 25.8125rem;
  }
  #sbs-2276 .cs-image-group a {
    display: inline-block;
  }
  #sbs-2276 .cs-picture1 {
    height: 100%;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 75rem) {
  #sbs-2276 .cs-image-group {
    margin-bottom: 5.25rem;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2130 {
    padding: var(--sectionPadding);
    background-color: #FDFAF8;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-2130 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2130 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2130 .cs-title {
    margin: 0;
  }
  #services-2130 .cs-card-group {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 31.25rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-2130 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    height: 17.5rem;
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    /* clips the image corners */
    overflow: hidden;
    grid-column: span 12;
    grid-row: span 1;
    gap: 0.5rem;
    position: relative;
  }
  #services-2130 .cs-item:hover .cs-h3,
  #services-2130 .cs-item:focus-within .cs-h3 {
    transform: translateY(0);
  }
  #services-2130 .cs-item:hover .cs-fake-link,
  #services-2130 .cs-item:focus-within .cs-fake-link {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
  #services-2130 .cs-item:hover .cs-background:before,
  #services-2130 .cs-item:focus-within .cs-background:before {
    height: 180%;
  }
  #services-2130 .cs-item:hover .cs-background img,
  #services-2130 .cs-item:focus-within .cs-background img {
    opacity: 0.5;
    transform: scale(1.1);
  }
  #services-2130 .cs-link {
    text-decoration: none;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  #services-2130 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    /* transform down the same amount as the flex gap */
    transform: translateY(0.75rem);
    transition: transform 0.3s, color 0.3s;
  }
  #services-2130 .cs-fake-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    color: var(--primary);
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    transform: translateY(3.125rem);
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
  }
  #services-2130 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #services-2130 .cs-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2130 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 14.59%, rgba(0, 0, 0, 0) 43.18%);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.3s;
  }
  #services-2130 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transition: transform 0.6s, opacity 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2130 .cs-container {
    max-width: 80rem;
  }
  #services-2130 .cs-card-group {
    max-width: 100%;
    grid-template-rows: 1fr;
  }
  #services-2130 .cs-item {
    /* 280px - 440px */
    min-height: clamp(17.5rem, 35vw, 27.5rem);
    grid-column: span 4;
  }
  #services-2130 .cs-item:nth-of-type(4),
  #services-2130 .cs-item:nth-of-type(5) {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2130 .cs-container {
    max-width: 115rem;
  }
  #services-2130 .cs-card-group {
    grid-template-columns: repeat(5, 1fr);
  }
  #services-2130 .cs-item {
    grid-column: span 1;
  }
  #services-2130 .cs-item:nth-of-type(4),
  #services-2130 .cs-item:nth-of-type(5) {
    grid-column: span 1;
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-700 {
    padding: var(--sectionPadding);
    background-color: #f7f8f8;
  }
  #pricing-700 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #pricing-700 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #pricing-700 .cs-toggle-group {
    width: auto;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pricing-700 .cs-plan {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
  }
  #pricing-700 .cs-plan:hover {
    cursor: pointer;
  }
  #pricing-700 .cs-toggle {
    width: 3.875rem;
    height: 2.25rem;
    border-radius: 2.5rem;
    background-color: var(--primaryLight);
    margin: 0 0.75rem;
    position: relative;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #pricing-700 .cs-toggle:hover {
    cursor: pointer;
  }
  #pricing-700 .cs-toggle.active:before {
    opacity: 1;
  }
  #pricing-700 .cs-toggle.active .cs-toggle-switch {
    left: 2rem;
  }
  #pricing-700 .cs-toggle:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffba43 -24.69%, #e12213 126.23%);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 2.5rem;
    transition: opacity 0.3s;
  }
  #pricing-700 .cs-toggle-switch {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.375rem;
    transition: left 0.3s;
    background: #fff;
  }
  #pricing-700 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 1.8vw, 1.25rem);
    perspective: 700px;
    transform-style: preserve-3d;
  }
  #pricing-700 .cs-card-group.active.cs-option1 {
    /* when the active class is on the cs-card-group, run these styles */
    transform: scale(0);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  #pricing-700 .cs-card-group.active.cs-option1 .cs-item {
    /* when the active class is on the cs-card-group, run these styles */
    opacity: 0;
    transform: translateY(1.25rem) rotateY(90deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #pricing-700 .cs-card-group.active.cs-option2 {
    /* when the active class is on the cs-card-group, run these styles */
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    position: relative;
    left: auto;
    top: auto;
    transform: scale(1);
  }
  #pricing-700 .cs-card-group.active.cs-option2 .cs-item {
    /* when the active class is on the cs-card-group, run these styles */
    opacity: 1;
    transform: translateY(0rem) rotateY(0deg);
  }
  #pricing-700 .cs-option1 {
    /* default styles when there is no active class on the cs-card-group */
    opacity: 1;
    visibility: visible;
    left: left;
    top: auto;
    transform: scale(1);
    transform-origin: left top;
    transition: transform 0.6s, opacity 0.3s, visibility 0.3s;
  }
  #pricing-700 .cs-option1 .cs-item {
    /* default styles when there is no active class on the cs-card-group */
    opacity: 1;
    transform: translateY(0rem) rotateY(0deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #pricing-700 .cs-option1 .cs-item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #pricing-700 .cs-option1 .cs-item:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  #pricing-700 .cs-option2 {
    /* default styles when there is no active class on the cs-card-group */
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 0;
    /* reset on tablet */
    top: 62.5rem;
    transform: scale(0);
    transform-origin: left top;
    transition: transform 0.6s, opacity 0.3s, visibility 0.3s, bottom 0.3s;
  }
  #pricing-700 .cs-option2 .cs-item {
    /* default styles when there is no active class on the cs-card-group */
    opacity: 0;
    transform: translateY(1.25rem) rotateY(90deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #pricing-700 .cs-option2 .cs-item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #pricing-700 .cs-option2 .cs-item:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  #pricing-700 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    margin: 0;
    /* 20px - 40px top & Bottom */
    /* 16px - 32px left & right */
    padding: clamp(1.25rem, 3vw, 2.5rem) clamp(1rem, 3vw, 2rem);
    background-color: #fff;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #pricing-700 .cs-item.cs-popular {
    background-color: var(--primary);
  }
  #pricing-700 .cs-item.cs-popular .cs-package {
    color: #f6e5db;
  }
  #pricing-700 .cs-item.cs-popular .cs-price,
  #pricing-700 .cs-item.cs-popular .cs-desc,
  #pricing-700 .cs-item.cs-popular .cs-item-p,
  #pricing-700 .cs-item.cs-popular .cs-li {
    color: var(--bodyTextColorWhite);
  }
  #pricing-700 .cs-item.cs-popular .cs-icon {
    /* if icon is not black, this turns it white */
    filter: grayscale(1) brightness(1000%);
  }
  #pricing-700 .cs-item.cs-popular .cs-button-solid {
    background-color: #f6e5db;
    color: #1a1a1a;
    transition: color 0.3s;
  }
  #pricing-700 .cs-item.cs-popular .cs-button-solid:hover {
    color: #fff;
  }
  #pricing-700 .cs-package {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.4vw, 1rem);
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: #767676;
    display: block;
  }
  #pricing-700 .cs-price {
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    text-align: center;
    font-weight: 900;
    margin: 0;
    color: var(--headerColor);
  }
  #pricing-700 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.2em;
    text-align: center;
    margin: 0 0 0.5rem 0;
    color: var(--bodyTextColor);
    opacity: 0.8;
  }
  #pricing-700 .cs-item-p {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #pricing-700 .cs-ul {
    margin: 1.5rem 0;
    padding: 1.5rem 0 0 0;
    border-top: 1px solid #eff1f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #pricing-700 .cs-li {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    list-style: none;
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: space-between;
    /* push everything to the top so if the li goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 1rem;
  }
  #pricing-700 .cs-li.cs-disabled {
    opacity: 0.5;
  }
  #pricing-700 .cs-icon {
    width: 1.125rem;
    height: auto;
    display: block;
  }
  #pricing-700 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #pricing-700 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #pricing-700 .cs-button-solid:hover:before {
    width: 100%;
  }
  #pricing-700 .cs-price-button {
    /* pushes up against the cs-ul so if there's loess li's in the list, the button always pushes itself to the bottom */
    margin-top: auto;
    width: 100%;
    border-radius: 0;
  }
  #pricing-700 .cs-price-button:before {
    border-radius: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-700 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #pricing-700 .cs-option2 {
    top: auto;
    bottom: 0;
  }
}
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1634 {
    padding: var(--sectionPadding);
  }
  #why-choose-1634 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1634 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1634 .cs-flex {
    max-width: 38.5rem;
  }
  #why-choose-1634 .cs-title {
    max-width: 20ch;
  }
  #why-choose-1634 .cs-text {
    margin-bottom: 1rem;
  }
  #why-choose-1634 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #why-choose-1634 .cs-wrapper {
    width: 100%;
  }
  #why-choose-1634 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.75rem;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #why-choose-1634 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
  }
  #why-choose-1634 .cs-icon-wrapper {
    /* 60px - 80px */
    width: clamp(3.75rem, 7vw, 5rem);
    height: clamp(3.75rem, 7vw, 5rem);
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1634 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #why-choose-1634 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    text-align: inherit;
  }
  #why-choose-1634 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    text-align: inherit;
  }
  #why-choose-1634 .cs-wrapper {
    /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
    display: contents;
  }
  #why-choose-1634 .cs-image-group {
    font-size: min(2.7vw, 1em);
    width: 33.875em;
    height: 30.875em;
    /* sends it to teh top in the 1st position */
    order: -1;
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-picture-wrapper {
    width: 80.073801%;
    height: 83.805668%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  #why-choose-1634 .cs-box {
    width: 60%;
    margin-top: -2.375em;
    margin-left: 1.5em;
    padding: 1em;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    position: relative;
    z-index: 10;
  }
  #why-choose-1634 .cs-header {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #why-choose-1634 .cs-desc {
    font-size: 0.875em;
    line-height: 1.5em;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #why-choose-1634 .cs-picture {
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1634 .cs-picture1 {
    width: 100%;
    height: 100%;
  }
  #why-choose-1634 .cs-picture2 {
    width: 36.346863%;
    height: 39.878543%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1634 .cs-container {
    max-width: 80rem;
  }
  #why-choose-1634 .cs-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #why-choose-1634 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #why-choose-1634 .cs-title {
    margin: 0;
  }
  #why-choose-1634 .cs-h3,
  #why-choose-1634 .cs-item-text {
    text-align: left;
  }
  #why-choose-1634 .cs-item {
    grid-column: span 4;
  }
  #why-choose-1634 .cs-image-group {
    width: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1634 {
    /* set the darker background color on the main div */
    background-color: #F8F5F1;
    overflow: hidden;
  }
  #why-choose-1634 .cs-content {
    align-items: flex-start;
  }
  #why-choose-1634 .cs-flex {
    width: 50%;
  }
  #why-choose-1634 .cs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
  }
  #why-choose-1634 .cs-wrapper:before {
    /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
    content: '';
    width: 100vw;
    height: 100vw;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1634 .cs-card-group {
    max-width: 39.375rem;
    /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
    padding-top: 3rem;
    align-self: flex-start;
  }
  #why-choose-1634 .cs-image-group {
    width: 33.875em;
    /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
    height: auto;
    min-height: 30.875em;
    /* makes it overlap the .cs-wrapper div */
    margin-top: -3rem;
    order: 2;
    flex: none;
  }
  #why-choose-1634 .cs-item {
    grid-column: span 12;
    flex-direction: row;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-2250 {
    padding: var(--sectionPadding);
    background-color: #FDFAF8;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #gallery-2250 .cs-container {
    width: 100%;
    /* changes to 1840px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-2250 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-2250 .cs-title {
    max-width: 40ch;
  }
  #gallery-2250 .cs-card-group {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 31.25rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #gallery-2250 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    height: 17.5rem;
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    /* clips the image corners */
    overflow: hidden;
    grid-column: span 12;
    grid-row: span 1;
    gap: 0.5rem;
    position: relative;
  }
  #gallery-2250 .cs-item:hover .cs-h3,
  #gallery-2250 .cs-item:focus-within .cs-h3 {
    transform: translateY(0);
  }
  #gallery-2250 .cs-item:hover .cs-fake-link,
  #gallery-2250 .cs-item:focus-within .cs-fake-link {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
  #gallery-2250 .cs-item:hover .cs-background:before,
  #gallery-2250 .cs-item:focus-within .cs-background:before {
    height: 180%;
  }
  #gallery-2250 .cs-item:hover .cs-background img,
  #gallery-2250 .cs-item:focus-within .cs-background img {
    opacity: 0.5;
    transform: scale(1.1);
  }
  #gallery-2250 .cs-link {
    text-decoration: none;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  #gallery-2250 .cs-wrapper {
    width: 100%;
    overflow: hidden;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #gallery-2250 .cs-header {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--primary);
  }
  #gallery-2250 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 2.4375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding-right: 3.75rem;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #gallery-2250 .cs-icon {
    /* 40px - 64px */
    width: clamp(2.5rem, 4vw, 4rem);
    height: auto;
    display: block;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    transition: transform 0.3s;
  }
  #gallery-2250 .cs-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #gallery-2250 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 14.59%, rgba(0, 0, 0, 0) 43.18%);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: height 0.3s;
  }
  #gallery-2250 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transition: transform 0.6s, opacity 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-2250 .cs-container {
    max-width: 115rem;
  }
  #gallery-2250 .cs-card-group {
    max-width: 100%;
    /* 60px - 100px, same amount as the top value to offset it */
    margin-bottom: clamp(3.75rem, 6vw, 6.25rem);
    grid-template-rows: 1fr;
  }
  #gallery-2250 .cs-item {
    /* 280px - 440px */
    min-height: clamp(17.5rem, 35vw, 27.5rem);
    grid-column: span 4;
  }
  #gallery-2250 .cs-item.cs-shift {
    position: relative;
    /* 60px - 100px */
    top: clamp(3.75rem, 6vw, 6.25rem);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-2250 .cs-item:hover .cs-wrapper,
  #gallery-2250 .cs-item:focus-within .cs-wrapper {
    opacity: 1;
    transform: translateY(0);
  }
  #gallery-2250 .cs-item:hover .cs-background:before,
  #gallery-2250 .cs-item:focus-within .cs-background:before {
    height: 180%;
  }
  #gallery-2250 .cs-item:hover .cs-background img,
  #gallery-2250 .cs-item:focus-within .cs-background img {
    opacity: 0.5;
    transform: scale(1.1);
  }
  #gallery-2250 .cs-wrapper {
    opacity: 0;
    transform: translateY(5rem);
    transition: transform 0.3s, opacity 0.3s;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-8 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #stats-8 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-8 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #stats-8 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #stats-8 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #stats-8 .cs-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #stats-8 .cs-card-group {
    width: 100%;
    /* changes to 100% at in-between */
    max-width: 31.25rem;
    padding: 0 1.25rem;
    /* 40px - 68px */
    padding-top: clamp(2.5rem, 5.7vw, 4.25rem);
    /* 48px - 80px */
    padding-bottom: clamp(3rem, 6.5vw, 5rem);
    margin: 0;
    background: #fff;
    border-top: 8px solid var(--primaryLight);
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 3.4375rem;
    box-shadow: 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.05);
    /* prevents padding from adding to the width of the container */
    box-sizing: border-box;
  }
  #stats-8 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
  }
  #stats-8 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 4.7vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    /* 4px - 8px */
    margin-bottom: clamp(0.25rem, 0.78vw, 0.5rem);
    color: var(--primary);
    display: block;
  }
  #stats-8 .cs-stat-text {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    color: var(--headerColor);
  }
  #stats-8 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #stats-8 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #stats-8 .cs-button-solid:hover:before {
    width: 100%;
  }
  #stats-8 .cs-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    z-index: -1;
  }
  #stats-8 .cs-background:before {
    /* Overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #stats-8 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* In-between - 500px */
@media only screen and (min-width: 31.25rem) {
  #stats-8:before {
    height: 37.5%;
  }
  #stats-8 .cs-card-group {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    column-gap: 2.1875rem;
  }
  #stats-8 .cs-item {
    /* reset width */
    width: auto;
  }
}
/* Big Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #stats-8 .cs-background {
    background: url("https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #stats-8 .cs-background img {
    display: none;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1672 {
    padding: var(--sectionPadding);
  }
  #reviews-1672 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4.5vw, 4rem);
  }
  #reviews-1672 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-1672 .cs-title {
    margin: 0rem;
  }
  #reviews-1672 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #reviews-1672 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    grid-column: span 12;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* 24px - 48px */
    gap: clamp(1.5rem, 4vw, 3rem);
  }
  #reviews-1672 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #reviews-1672 .cs-profile {
    width: 3.25rem;
    height: auto;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  #reviews-1672 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1672 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1672 .cs-job {
    /* 14px - 16px */
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-1672 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #reviews-1672 .cs-item-stars {
    width: 6.75rem;
    height: auto;
  }
  #reviews-1672 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    z-index: 1;
  }
  #reviews-1672 .cs-quote {
    width: 5.375rem;
    height: auto;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1672 .cs-item {
    grid-column: span 4;
  }
}
